@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

body,
html {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  background-color: #131313;
}

* {
  box-sizing: border-box;
  margin: 0;
}

a {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0px 40px;
}

.title {
  font-weight: 500;
  font-size: 24px;
  color: #FFD02B;
  text-align: center;
  margin: 0;
  padding-bottom: 5px;
}

.subtitle {
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  color: #FFFFFF;
  text-align: center;
  margin: 0;
}

/* Главный экран */

.main-screen {
  max-width: 100%;
  height: 100vh;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media (max-width: 1366px) {
  .main-screen {
    background-attachment: scroll;
  }
}

.header__inner-title {
  font-size: 48px;
  color: #fff;
}

.yellow {
  color: #FFD02B;
}



.menu-btn--wrapper {
  width: 100%;
}

.menu {
  position: fixed;
  overflow: hidden;
  width: 50px;
  height: 50px;
  display: flex;
  top: 0px;
  left: 0px;
  cursor: pointer;
  padding: 10px 10px;
  transition: all linear 0.2s;
}

.menu-wrapper {
  display: flex;
  opacity: 0;
  margin: 0 auto;
  color: white;
  list-style: none;
  padding: 0;
  padding-right: 30px;
}

.menu-wrapper--active {
  opacity: 1;
  transition: all linear 0.5s;
}

.menu-link {
  transition: color linear 0.2s;
}

.menu-link:hover {
  color: #FFD02B;
}

.menu--item {
  padding: 0px 15px;
}

.menu--active {
  width: 100%;
  align-items: center;
  background-color: #131313;
  transition: all linear 0.2s;
}

.language-wrapper {
  position: absolute;
  width: 90px;
  height: 50px;
  right: 20px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.language {
  font-weight: 300;
  font-size: 16px;
  transition: color linear 0.2s;
}

.language:hover {
  color: #FFD02B;
}

.language-active {
  color: #FFD02B;
}

@keyframes arrow-anim {
  0% {
    bottom: 50px;
  }

  50% {
    bottom: 60px;
  }

  100% {
    bottom: 50px;
  }
}

.arrow {
  position: absolute;
  bottom: 50px;
  animation-name: arrow-anim;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@media(max-width: 945px) {
  .menu {
    position: absolute;
  }
}

@media (max-width: 768px) {
  .header__inner-title {
    font-size: 38px;
  }

  .menu--active {
    height: 250px;
    align-items: flex-start;
    flex-direction: column;
  }

  .menu-wrapper {
    flex-direction: column;
    text-align: center;
    margin: 0 auto;
    padding-right: 0px;
    padding-top: 20px;
  }

  .menu--item {
    padding: 10px 0px;
  }

}

@media (max-width: 550px) {
  .header__inner-title {
    font-size: 32px;
  }
}

@media (max-width: 450px) {
  .header__inner-title {
    font-size: 28px;
  }
}

@media (max-width: 360px) {
  .header__inner-title {
    font-size: 24px;
  }
}


/* /Главный экран */



/* Резюме */

.resume {
  padding-top: 60px;
}

.resume__info {
  max-width: 730px;
  margin: 0 auto;
  padding-top: 60px;
}

.resume__info-row {
  display: flex;
  margin-bottom: 40px;
}

.resume__info-title {
  font-weight: 500;
  font-size: 17px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFD02B;
  display: inline-block;
  min-width: 190px;
  margin-right: 30px;

}

.resume__info-text {
  font-weight: normal;
  font-size: 17px;
  line-height: 21px;
  color: #FFFFFF;
}

.skills {
  flex-direction: column;
}

.skills__title {
  font-size: 17px;
  color: #FFFFFF;
  font-weight: normal;
  margin: 0;
  padding-bottom: 5px;
}


.skills__bar-wrapper {
  display: flex;
  align-items: center;
}

.skills__bar-inner {
  width: 460px;
  height: 5px;
  background: #2F2F2F;
  margin-right: 10px;
}

.skills__bar {
  height: 5px;
  background: #FFD02B;
}

.skills__row {
  margin-bottom: 15px;
}

.skills__bar-number {
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #2F2F2F;
}

@media (max-width: 768px) {
  .resume__info-title {
    font-size: 15px;
    min-width: 162px;
  }

  .resume__info-text {
    font-size: 15px;

  }

  .skills__title {
    font-size: 15px;
  }

  .resume__info {
    padding-top: 40px;
  }

  .resume {
    padding-top: 40px;
  }

  .resume__info-row {
    margin-bottom: 30px;
  }

  .skills__bar-inner {
    width: 360px;
  }
}


@media(max-width: 675px) {
  .skills__bar-inner {
    width: 300px;
  }
}

@media(max-width: 590px) {
  .resume__info-row:nth-child(2) {
    flex-direction: column;
  }

  .skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 15px;
  }
}

@media(max-width: 480px) {
  .resume__info-row {
    flex-direction: column;
  }

  .resume__info-text {
    padding-top: 5px;
  }

  .skills {
    align-items: flex-start;
  }

  .title {
    text-align: left;
  }

  .subtitle {
    text-align: left;
  }
}


@media(max-width: 420px) {
  .skills__bar-inner {
    width: 195px;
  }
}



.services {
  margin-top: 100px;
  padding: 60px 0px;
  background-color: #0E0E0E;
  text-align: center;
}

.services__img {
  margin-top: 30px;
  margin-left: 5px;
}


.services__items {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 815px;
  padding-top: 10px;
  margin-bottom: 80px;
}

.services__item {
  width: 215px;
}



.services__title {
  font-weight: 500;
  font-size: 20px;
  text-align: center;
  color: #fff;
  margin-bottom: 5px;
}

.services__descr {
  font-weight: 500;
  font-size: 17px;
  text-align: center;
  color: #5F5F5F;
}

.services__btn {
  color: #0E0E0E;
  font-weight: 500;
  border: 2px solid #FFD02B;
  padding: 15px 75px;
  background-color: #FFD02B;
  border-radius: 5px;
  transition: all 0.2s linear;
}

.services__btn:hover {
  color: #FFD02B;
  background-color: #0E0E0E;
}


@media (max-width: 921px) {
  .services__img {
    display: none;
  }

  .services__items {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 55px;
  }

  .services__item {
    padding-top: 20px;
  }


}

@media(max-width: 480px) {
  .services {
    text-align: left;
  }

  .services__title,
  .services__descr {
    text-align: left;
  }

  .services__items {
    align-items: flex-start;
  }
}
